*{
    color: white;
    margin: 0;
    padding: 0;
}
header {
        background-image: url('imagens/corinthians.jpg'); 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 20px;
        text-align: center;    
}
#bemvindo {
    margin-bottom: 20px;
}
body {
    background-image: url('imagens/fundo.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
}
.sombra {
    text-shadow: 2px 2px 4px red;
    font-size: 20px;
    transition: font-size 0.5s;
}

.sombra:hover {
    font-size: 30px;
}
ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
}
h1{
    padding: 20px;
}
li {
    padding: 20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
}

li img {
    width: 120px;
    height: 120px;
    margin-right: 20px;
}

li span {
    font-size: 24px;
}

li:last-child {
    border-bottom: none;
}
.meio {
    background-color: black; 
    color: white; 
    text-align: center justify; 
    padding: 50px; 
}

.meio img {
    max-width: 100%; 
    display: block; 
    margin: 100px auto; 
    width: 928px;
    height: 522px;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 0px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.elenco2024, .contato {
    display: inline-block;
}

.elenco2024 {
    text-align: left;
    margin-left: 100px;
    text-align: center;
}

.contato {
    text-align: right;
    margin-right: 100px;
    text-align: center;
}
